
@tailwind base;
@tailwind components;
@tailwind utilities;




/*  CSS Style Overrides */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img{
  display: block;
  max-width: 100%;
}

input:focus, textarea:focus{
  outline: none;
}

a{
  transition: opacity 0.5s ease-in-out;
  @apply opacity-[var(--inactive-opacity)] hover:opacity-[1] text-[var(--secondary-color-text)]
}


:root {
  --font-family: Arial, Helvetica, sans-serif;
  
  /* App color scheme. */
  --primary-color-bg: #D2C679;
  --secondary-color-bg: #D9D9D9;
  --tertiary-color-bg: #e66a00;
  --primary-color-text: #000000;
  --secondary-color-text: #E66A00;
  --tertiary-color-text: #FFFFFF;

  /* Font sizes */

  --small-font: 0.7rem;
  --regular-font: 1rem;
  --large-font: 1.3rem;
  --extra-large-font: 1.8rem;

  /* opacity for certain interactable elements before they are interacted */
  --inactive-opacity: 0.6;

}


#root{
  font-family: var(--font-family);
  width: 100%;
  min-height: 100vh;
}


